In [2]:
import pandas as pd
import numpy as np

# Data Exploration

In [4]:
data_identification_df = pd.read_csv("data_identification.csv")
data_identification_df

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [5]:
emotions_df = pd.read_csv("emotion.csv")
emotions_df

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [13]:
tweets_df = pd.read_json('tweets_DM.json', lines=True)

In [14]:
tweets_df

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

## Checking for missing values:

In [17]:
def check_missing_values(row):
    counter = 0
    for element in row:
        if element == True:
            counter+=1
    return ("The amoung of missing records is: ", counter)

In [16]:
tweets_df.isnull().apply(lambda x: check_missing_values(x))

,_score,_index,_source,_crawldate,_type
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,1867535,1867535,1867535,1867535,1867535

In [8]:
emotions_df.isnull().apply(lambda x: check_missing_values(x))

                             tweet_id                             emotion
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [19]:
data_identification_df.isnull().apply(lambda x: check_missing_values(x))

                             tweet_id                      identification
0  The amoung of missing records is:   The amoung of missing records is:
1                                   0                                   0

In [20]:
tweets_df.head()

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets

In [21]:
unique_tweets = tweets_df["_score"].nunique()
(unique_tweets)

1024

# Joining DataFrame

## Creating new features in tweets_df:

In [15]:
#Create a column in "tweets_df" with the extracted tweet_id from _source column:

In [22]:
tweets_df.iloc[5000]['_source']
#We can treat this as a dictionary within a dictionary:

{'tweet': {'hashtags': ['beer', 'benjaminfranklin'],
  'tweet_id': '0x2ff708',
  'text': '"Beer is proof that God loves us and wants us to be happy" - Benjamin Franklin  #beer <LH> #benjaminfranklin'}}

In [24]:
#Testing:  (to get tweets_id)

# The only key of the large dictionary of every row in _source is 'tweet'. From here we get a subdictionary, with keys
# hashtags, tweet_id, and text:

one_row = tweets_df.iloc[5000]['_source']  #grab only 1 row to test
new_dict = one_row['tweet']  

#Use the subkey found, tweet_id, to get the feature needed:
print(new_dict['tweet_id'])

#---------------------------------------------------------------

#def to get tweet_id from dictionary within a dictionary:
def get_tweet_id(row):
    return row['tweet']['tweet_id']

#def to get text from dictionary within a dictionary:
def get_text(row):
    return row['tweet']['text']

new_dict

0x2ff708

{'hashtags': ['beer', 'benjaminfranklin'],
 'tweet_id': '0x2ff708',
 'text': '"Beer is proof that God loves us and wants us to be happy" - Benjamin Franklin  #beer <LH> #benjaminfranklin'}

In [28]:
tweets_df['tweet_id'] = tweets_df._source.apply(lambda x: get_tweet_id(x))
tweets_df['text'] = tweets_df._source.apply(lambda x: get_text(x))
tweets_df

,_score,_index,_source,_crawldate,_type,tweet_id,text
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,0x376b20,"People who post ""add me on #Snapchat"" must be ..."
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,0x2d5350,"@brianklaas As we see, Trump is dangerous to #..."
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets,0x28b412,"Confident of your obedience, I write to you, k..."
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets,0x2de201,"""Trust is not the same as faith. A friend is s..."
...,...,...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets,0x316b80,When you buy the last 2 tickets remaining for ...
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets,0x29d0cb,I swear all this hard work gone pay off one da...
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets,0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets,0x24faed,"Ah, corporate life, where you can date <LH> us..."
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets,0x34be8c,Blessed to be living #Sundayvibes <LH>

In [29]:
twitter_data = tweets_df[["_score","tweet_id","text"]]

In [30]:
twitter_data

         _score  tweet_id                                               text
0           391  0x376b20  People who post "add me on #Snapchat" must be ...
1           433  0x2d5350  @brianklaas As we see, Trump is dangerous to #...
2           232  0x28b412  Confident of your obedience, I write to you, k...
3           376  0x1cd5b0                Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>
4           989  0x2de201  "Trust is not the same as faith. A friend is s...
...         ...       ...                                                ...
1867530     827  0x316b80  When you buy the last 2 tickets remaining for ...
1867531     368  0x29d0cb  I swear all this hard work gone pay off one da...
1867532     498  0x2a6a4f  @Parcel2Go no card left when I wasn't in so I ...
1867533     840  0x24faed  Ah, corporate life, where you can date <LH> us...
1867534     360  0x34be8c             Blessed to be living #Sundayvibes <LH>

[1867535 rows x 3 columns]

## Joining with data_identification_df:

In [48]:
#With the new dataset that we obtained, now we join first with the data_identification_df:
twitter_data = twitter_data.merge(data_identification_df, how='inner')

In [49]:
print(len(twitter_data), twitter_data.tweet_id.nunique())
# Unique twitter IDs are equal to length of dataset so, no 2 IDs repeat:

1867535 1867535

In [50]:
twitter_data.identification.unique()

array(['train', 'test'], dtype=object)

In [51]:
twitter_data.head()

,_score,tweet_id,text,identification
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train
2,232,0x28b412,"Confident of your obedience, I write to you, k...",test
3,376,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train
4,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test

## Dividing into train and test:

In [52]:
# This dataset will be use to further divide it intro another training, validation, and test data.
twitter_train = twitter_data[twitter_data['identification'] == "train"].reset_index()
twitter_train

,index,_score,tweet_id,text,identification
0,0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train
1,1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train
2,3,376,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train
3,5,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train
4,6,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train
...,...,...,...,...,...
1455558,1867526,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train
1455559,1867527,627,0x38959e,In every circumtance I'd like to be thankful t...,train
1455560,1867528,274,0x2cbca6,there's currently two girls walking around the...,train
1455561,1867533,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train
1455562,1867534,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train

In [53]:
#This one will only be used to predict:
twitter_test = twitter_data[twitter_data['identification'] == "test"].reset_index()
twitter_test = twitter_test.drop("index", axis = 1)
twitter_test

,_score,tweet_id,text,identification
0,232,0x28b412,"Confident of your obedience, I write to you, k...",test
1,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test
2,66,0x218443,When do you have enough ? When are you satisfi...,test
3,104,0x2939d5,"God woke you up, now chase the day #GodsPlan #...",test
4,310,0x26289a,"In these tough times, who do YOU turn to as yo...",test
...,...,...,...,...
411967,602,0x2913b4,"""For this is the message that ye heard from th...",test
411968,598,0x2a980e,"""There is a lad here, which hath five barley l...",test
411969,827,0x316b80,When you buy the last 2 tickets remaining for ...,test
411970,368,0x29d0cb,I swear all this hard work gone pay off one da...,test
411971,498,0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...,test

## Join the resulting "twitter_train" with the emotions_df

In [54]:
final_twitter_df = twitter_train.merge(emotions_df, how="inner")
final_twitter_df = final_twitter_df.drop("index",axis = 1)

In [55]:
final_twitter_df
# 1,455,563 rows

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1455558,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1455559,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1455560,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1455561,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1455562,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

In [56]:
final_twitter_df.emotion.unique()

array(['anticipation', 'sadness', 'fear', 'joy', 'anger', 'trust',
       'disgust', 'surprise'], dtype=object)

## Deleting duplicated values:

In [57]:
#Duplicated values:
print(sum(final_twitter_df.text.duplicated()))
print(sum(final_twitter_df.tweet_id.duplicated()))

3785
0

In [58]:
#Count the table before deleting duplicates:
before_deleting_duplicates = len(final_twitter_df)

# These are the tweets that most likely were sent twice by the user by accident:
final_twitter_df[final_twitter_df.duplicated('text')].sort_values('text',axis=0)

,_score,tweet_id,text,identification,emotion
1238903,1018,0x2dde6b,"""A coward is incapable of exhibiting love; it ...",train,joy
1028251,899,0x2909e1,"""A family can develop only with a loving woman...",train,joy
397639,954,0x272113,"""A poem begins as a lump in the throat, a sens...",train,joy
590230,895,0x236961,"""A woman can be anything the man who loves her...",train,joy
1346054,682,0x22a8b0,"""Absence - that common cure of love."" <LH> <LH...",train,joy
...,...,...,...,...,...
1338823,577,0x338bed,â€œAnd he awoke and rebuked the wind and said to...,train,joy
747335,524,0x2e030b,â€œEveryone prays in the endâ€ <LH> @samsmithworld,train,anticipation
1267175,565,0x24ca3c,"â€œGive thanks to the Lord, for he is good; his ...",train,trust
672023,131,0x22975e,"â˜€ï¸Good Morning World â˜€ï¸ Rise-N-Grind, it'sâŒšto ...",train,trust
1319695,927,0x325a60,â¤ðŸŒ»likeðŸŒ» â¤ðŸŒ» shareðŸŒ» â¤ ðŸŒ»CommentðŸŒ» #life <LH> <LH>,train,joy

In [59]:
# For example:
final_twitter_df.iloc[1238903]['text'], final_twitter_df.iloc[597627]['text']

('"A coward is incapable of exhibiting love; it is the prerogative of the brave." <LH> <LH> <LH> <LH>',
 '"A coward is incapable of exhibiting love; it is the prerogative of the brave." <LH> <LH> <LH> <LH>')

In [60]:
final_twitter_df.drop_duplicates(subset ="text", keep= "first", inplace = True)
print("Duplicates deleted: ", before_deleting_duplicates - len(final_twitter_df))

Duplicates deleted:  3785

In [61]:
final_twitter_df.reset_index(drop=True, inplace=True)

In [62]:
final_twitter_df.columns

Index(['_score', 'tweet_id', 'text', 'identification', 'emotion'], dtype='object')

In [63]:
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1451773,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1451774,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1451775,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1451776,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1451777,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

### Clean Text

In [69]:
import re
import string

In [70]:
def clean(text):
    text = text.lower()
    text = text.replace('<lh>',"") #AC told me dumb
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('\n', '', text)
    return text

In [71]:
final_twitter_df.text = final_twitter_df.text.apply(clean)
final_twitter_df.iloc[0].text

'people who post add me on snapchat must be dehydrated cuz man thats '

In [75]:
final_twitter_df[final_twitter_df.text == ""]

         _score  tweet_id text identification emotion
2173        234  0x260518               train     joy
4157        215  0x38cea2               train   trust
6598        970  0x255680               train     joy
13234       332  0x343e48               train     joy
15604        38  0x1ea04a               train     joy
...         ...       ...  ...            ...     ...
1423576     901  0x2f5326               train     joy
1426238     309  0x332e48               train   trust
1427308     804  0x2bff95               train     joy
1434859     954  0x2cfe7f               train     joy
1448888     783  0x302a87               train     joy

[341 rows x 5 columns]

In [72]:
i = final_twitter_df[final_twitter_df.text == ""].index
final_twitter_df.drop(i, axis = 0, inplace = True)
final_twitter_df = final_twitter_df.reset_index()
final_twitter_df.drop(['index'],axis = 1, inplace = True)
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,people who post add me on snapchat must be deh...,train,anticipation
1,433,0x2d5350,brianklaas as we see trump is dangerous to fre...,train,sadness
2,376,0x1cd5b0,now issa is stalking tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚,train,fear
3,120,0x1d755c,riskshow thekevinallison thx for the best time...,train,joy
4,1021,0x2c91a8,still waiting on those supplies liscus,train,anticipation
...,...,...,...,...,...
1451432,94,0x321566,im so happy nowonder the name of this show hap...,train,joy
1451433,627,0x38959e,in every circumtance id like to be thankful to...,train,joy
1451434,274,0x2cbca6,theres currently two girls walking around the ...,train,joy
1451435,840,0x24faed,ah corporate life where you can date using ju...,train,joy
1451436,360,0x34be8c,blessed to be living sundayvibes,train,joy

### Save the CSV before balancing (to try with unbalanced data)

In [73]:
#final_twitter_df.to_csv("before_balancing_data.csv",index=False)

## Balancing the dataset:

In [76]:
emotions = final_twitter_df['emotion'].unique()
for emotion in emotions:
    number = len(final_twitter_df[final_twitter_df['emotion']==emotion])
    porcentage = (number/len(final_twitter_df))*100
    print(f"{emotion} has {number} of elements, making it {porcentage:.2f}% of the dataset")

anticipation has 248685 of elements, making it 17.13% of the dataset
sadness has 193180 of elements, making it 13.31% of the dataset
fear has 63820 of elements, making it 4.40% of the dataset
joy has 513977 of elements, making it 35.41% of the dataset
anger has 39712 of elements, making it 2.74% of the dataset
trust has 204863 of elements, making it 14.11% of the dataset
disgust has 138995 of elements, making it 9.58% of the dataset
surprise has 48205 of elements, making it 3.32% of the dataset

In [135]:
# As we can see the dataset in very unbalanced. This could make our final model to be more precise for the higher emotions
# and to not predict correctly the other emotions.

### Shuffle first:

In [90]:
#Transform the dataframe into arrays for shuffling:

unshuffled_inputs = final_twitter_df.iloc[:,:4].to_numpy()
unshuffled_outputs = final_twitter_df.iloc[:,-1].to_numpy()
#unshuffled_inputs

array(['anticipation', 'sadness', 'fear', ..., 'joy', 'joy', 'joy'],
      dtype=object)

In [91]:
final_twitter_df.shape[0] , unshuffled_inputs.shape[0]

(1451437, 1451437)

In [92]:
#Shuffle the data before balancing it:

first_shuffle_indices = np.arange(unshuffled_inputs.shape[0])
np.random.shuffle(first_shuffle_indices)

shuffled_inputs = unshuffled_inputs[first_shuffle_indices]
shuffled_outputs = unshuffled_outputs[first_shuffle_indices]
shuffled_outputs

array(['joy', 'disgust', 'disgust', ..., 'anticipation', 'anticipation',
       'joy'], dtype=object)

In [83]:
#Here the balancing begins:

In [93]:
lowest_number = 39712  #this corresponds to the lowest number of items for any given emotion (this case anger)

number_anger, number_anticipation, number_sadness, number_fear = 0, 0, 0, 0
number_joy, number_trust, number_disgust, number_surprise = 0, 0, 0, 0
indices_to_remove = []

for i in range(shuffled_outputs.shape[0]):
    #anticipation:
    if(shuffled_outputs[i]=='anticipation'):
        number_anticipation+= 1
        if(number_anticipation>lowest_number):
            indices_to_remove.append(i)
    #Sadness:
    if(shuffled_outputs[i]=='sadness'):
        number_sadness+= 1
        if(number_sadness>lowest_number):
            indices_to_remove.append(i)
    #Fear
    if(shuffled_outputs[i]=='fear'):
        number_fear+= 1
        if(number_fear>lowest_number):
            indices_to_remove.append(i)
    #Joy
    if(shuffled_outputs[i]=='joy'):
        number_joy+= 1
        if(number_joy>lowest_number):
            indices_to_remove.append(i)
    #Anger
    if(shuffled_outputs[i]=='anger'):
        number_anger+= 1
        if(number_anger>lowest_number):
            indices_to_remove.append(i)
    #Trust
    if(shuffled_outputs[i]=='trust'):
        number_trust+= 1
        if(number_trust>lowest_number):
            indices_to_remove.append(i)
    #Disgust:
    if(shuffled_outputs[i]=='disgust'):
        number_disgust+= 1
        if(number_disgust>lowest_number):
            indices_to_remove.append(i)
    #Surprise:
    if(shuffled_outputs[i]=='surprise'):
        number_surprise+= 1
        if(number_surprise>lowest_number):
            indices_to_remove.append(i)

In [95]:
scaled_inputs = np.delete(shuffled_inputs,indices_to_remove,axis=0)
scaled_outputs = np.delete(shuffled_outputs, indices_to_remove, axis = 0)

In [96]:
len(scaled_inputs), len(scaled_outputs)

(317696, 317696)

In [97]:
#Reshuffle the data:
shuffle_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffle_indices)

re_shuffled_inputs = scaled_inputs[shuffle_indices]
re_shuffled_outputs = scaled_outputs[shuffle_indices]

In [98]:
len(re_shuffled_inputs), len(re_shuffled_outputs)

(317696, 317696)

In [99]:
#To return the array into a Dataframe
#"""
inputs_df = pd.DataFrame(re_shuffled_inputs)
outputs_df =  pd.DataFrame(re_shuffled_outputs)
final_df = pd.concat([inputs_df, outputs_df], axis=1)
final_df.columns = ['_score', 'tweet_id', 'text', 'identification', 'emotion']
final_df
#"""


# You can save this to a CSV and continue working with the model (keras) as in class:

,_score,tweet_id,text,identification,emotion
0,298,0x202b84,aircanada why is yhzgtyul delayed every wednes...,train,anger
1,674,0x384806,la on the block gospursgo,train,disgust
2,651,0x316626,dannyscottmuzic exactly ðŸ˜” oh well got to plo...,train,sadness
3,791,0x1e740d,did i offend someone in a past life i have a g...,train,disgust
4,953,0x2994a0,a violent man made me stop on the street as a ...,train,anticipation
...,...,...,...,...,...
317691,532,0x233de5,wish there was an easy way to tell people why ...,train,anger
317692,479,0x2a332c,my sons dad just told me he should have been b...,train,surprise
317693,106,0x30f381,when you spend the evening with tydollasign li...,train,joy
317694,473,0x1e9ca5,therock just watched of ballers season love ...,train,trust
317695,476,0x24b6ba,msashleyfbanks i think i should ðŸ˜‚,train,fear

In [100]:
final_df.text = final_df.text.apply(clean)
final_df.iloc[0].text

'aircanada why is yhzgtyul delayed every wednesday night twice now  westjetwhenican'

In [101]:
final_df[final_df.text == ""]

Empty DataFrame
Columns: [_score, tweet_id, text, identification, emotion]
Index: []

In [102]:
i = final_df[final_df.text == ""].index
final_df.drop(i, axis = 0, inplace = True)

In [105]:
final_df = final_df.reset_index()
final_df

,level_0,index,_score,tweet_id,text,identification,emotion
0,0,0,298,0x202b84,aircanada why is yhzgtyul delayed every wednes...,train,anger
1,1,1,674,0x384806,la on the block gospursgo,train,disgust
2,2,2,651,0x316626,dannyscottmuzic exactly ðŸ˜” oh well got to plo...,train,sadness
3,3,3,791,0x1e740d,did i offend someone in a past life i have a g...,train,disgust
4,4,4,953,0x2994a0,a violent man made me stop on the street as a ...,train,anticipation
...,...,...,...,...,...,...,...
317691,317691,317691,532,0x233de5,wish there was an easy way to tell people why ...,train,anger
317692,317692,317692,479,0x2a332c,my sons dad just told me he should have been b...,train,surprise
317693,317693,317693,106,0x30f381,when you spend the evening with tydollasign li...,train,joy
317694,317694,317694,473,0x1e9ca5,therock just watched of ballers season love ...,train,trust
317695,317695,317695,476,0x24b6ba,msashleyfbanks i think i should ðŸ˜‚,train,fear

In [106]:
final_df.drop(['level_0','index'],axis = 1, inplace = True)
final_df

,_score,tweet_id,text,identification,emotion
0,298,0x202b84,aircanada why is yhzgtyul delayed every wednes...,train,anger
1,674,0x384806,la on the block gospursgo,train,disgust
2,651,0x316626,dannyscottmuzic exactly ðŸ˜” oh well got to plo...,train,sadness
3,791,0x1e740d,did i offend someone in a past life i have a g...,train,disgust
4,953,0x2994a0,a violent man made me stop on the street as a ...,train,anticipation
...,...,...,...,...,...
317691,532,0x233de5,wish there was an easy way to tell people why ...,train,anger
317692,479,0x2a332c,my sons dad just told me he should have been b...,train,surprise
317693,106,0x30f381,when you spend the evening with tydollasign li...,train,joy
317694,473,0x1e9ca5,therock just watched of ballers season love ...,train,trust
317695,476,0x24b6ba,msashleyfbanks i think i should ðŸ˜‚,train,fear

In [107]:
final_df.emotion.unique()

array(['anger', 'disgust', 'sadness', 'anticipation', 'fear', 'surprise',
       'joy', 'trust'], dtype=object)

In [108]:
final_df[final_df.text == ""]

Empty DataFrame
Columns: [_score, tweet_id, text, identification, emotion]
Index: []

In [110]:
def categorize_emotions(emotion):
    if(emotion == "fear"):
        return 1
    if(emotion == "trust"):
        return 2
    if(emotion == "anger"):
        return 3
    if(emotion == "anticipation"):
        return 4
    if(emotion == "surprise"):
        return 5
    if(emotion == "disgust"):
        return 6
    if(emotion == "joy"):
        return 7
    if(emotion == "sadness"):
        return 8

In [111]:
final_df['Category'] = final_df.emotion.apply(lambda x: categorize_emotions(x))

In [112]:
final_df

,_score,tweet_id,text,identification,emotion,Category
0,298,0x202b84,aircanada why is yhzgtyul delayed every wednes...,train,anger,3
1,674,0x384806,la on the block gospursgo,train,disgust,6
2,651,0x316626,dannyscottmuzic exactly ðŸ˜” oh well got to plo...,train,sadness,8
3,791,0x1e740d,did i offend someone in a past life i have a g...,train,disgust,6
4,953,0x2994a0,a violent man made me stop on the street as a ...,train,anticipation,4
...,...,...,...,...,...,...
317691,532,0x233de5,wish there was an easy way to tell people why ...,train,anger,3
317692,479,0x2a332c,my sons dad just told me he should have been b...,train,surprise,5
317693,106,0x30f381,when you spend the evening with tydollasign li...,train,joy,7
317694,473,0x1e9ca5,therock just watched of ballers season love ...,train,trust,2
317695,476,0x24b6ba,msashleyfbanks i think i should ðŸ˜‚,train,fear,1

In [121]:
df = pd.read_csv('before_balancing_data.csv')
df['Category'] = df.emotion.apply(lambda x: categorize_emotions(x))
df.to_csv("preprocessed_whole.csv",index=False)

## Saving to CSV the final dataset:

In [113]:
final_df.to_csv("preprocessed_data.csv",index=False)

In [114]:
twitter_test.to_csv("twitter_test_data.csv",index=False)

## Saving to NPZ to use Tensorflow:

#### Couldn't make it work ont the TesorFlow Test ipynb. Will try with normal dataframe.

In [115]:
import numpy as np
import tensorflow as tf

In [229]:
#Before i used this for splitting the data but i need to transform the texts to numbers better:
x_train = re_shuffled_inputs[:,2:3]
y_train = re_shuffled_outputs

In [230]:
type(re_shuffled_outputs)

numpy.ndarray

In [231]:
y_train

array(['fear', 'trust', 'anger', ..., 'sadness', 'fear', 'anticipation'],
      dtype=object)

In [223]:
#Split data into training, validation, and test

samples_count = x_train.shape[0]

train_samples_count = int(0.7 * samples_count)
validation_samples_count = int(0.2 * samples_count)
test_samples_count = samples_count - train_samples_count - validation_samples_count

train_inputs = x_train[:train_samples_count]
train_targets = y_train[:train_samples_count]

validation_inputs = x_train[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = y_train[train_samples_count:train_samples_count+validation_samples_count]

test_inputs = x_train[train_samples_count+validation_samples_count:]
test_targets = y_train[train_samples_count+validation_samples_count:]

### Save the datasets in *.npz

np.savez('twitter_data_train',inputs=train_inputs, targets = train_targets)
np.savez('twitter_data_validation',inputs=validation_inputs, targets = validation_targets)
np.savez('twitter_data_test',inputs=test_inputs, targets = test_targets)

In [224]:
train_samples_count

222387

In [225]:
twitter_test.head()

,_score,tweet_id,text,identification
0,232,0x28b412,"Confident of your obedience, I write to you, k...",test
1,989,0x2de201,"""Trust is not the same as faith. A friend is s...",test
2,66,0x218443,When do you have enough ? When are you satisfi...,test
3,104,0x2939d5,"God woke you up, now chase the day #GodsPlan #...",test
4,310,0x26289a,"In these tough times, who do YOU turn to as yo...",test

In [226]:
x_test = twitter_test[["tweet_id","text"]]

In [227]:
np.savez('twitter_data_test_for_upload',inputs=x_test)

## Second balancing try: with score in consideration

Here the purpose is to balance based on the lowest scores of each emotion.

In [298]:
final_twitter_df

,_score,tweet_id,text,identification,emotion
0,391,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train,anticipation
1,433,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train,sadness
2,376,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train,fear
3,120,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,train,joy
4,1021,0x2c91a8,Still waiting on those supplies Liscus. <LH>,train,anticipation
...,...,...,...,...,...
1451773,94,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,train,joy
1451774,627,0x38959e,In every circumtance I'd like to be thankful t...,train,joy
1451775,274,0x2cbca6,there's currently two girls walking around the...,train,joy
1451776,840,0x24faed,"Ah, corporate life, where you can date <LH> us...",train,joy
1451777,360,0x34be8c,Blessed to be living #Sundayvibes <LH>,train,joy

In [78]:
sorted_df = final_twitter_df.sort_values(["emotion","_score"],ascending=False)

In [80]:
sorted_df
#39712

,_score,tweet_id,text,identification,emotion
6031,1024,0x37f0f9,having someone who is so positive in my life i...,train,trust
12786,1024,0x389e5b,win or loose raptors made me raptorsvswarriors,train,trust
22659,1024,0x285fdf,inspiring morning with our beautiful grads,train,trust
30496,1024,0x28f6df,of you imrankhanpti the only leader who spea...,train,trust
35798,1024,0x2819f0,mannnn action is so powerful its like getting...,train,trust
...,...,...,...,...,...
1258526,1,0x3796e6,facespics benshapiro id say it looks downright...,train,anger
1319793,1,0x320b35,lost my target gift card while target and i t...,train,anger
1332059,1,0x30b7fa,phillyd can we talk about this new shitty hulu...,train,anger
1339017,1,0x303120,started binge watching freakishonhulu and my l...,train,anger
1405234,1,0x26c8b3,ðŸ•˜ aug ðŸ‡ºðŸ‡¸usd ðŸ‡ªðŸ‡ºeur ðŸ‡¨ðŸ‡¦cad ðŸ‡¬ðŸ‡§gbp ðŸ‡¨ðŸ‡³cny...,train,anger

In [81]:
anger = sorted_df[sorted_df["emotion"]=="anger"][:39712]
anticipation = sorted_df[sorted_df["emotion"]=="anticipation"][:39712]
disgust = sorted_df[sorted_df["emotion"]=="disgust"][:39712]
fear = sorted_df[sorted_df["emotion"]=="fear"][:39712]
joy = sorted_df[sorted_df["emotion"]=="joy"][:39712]
sadness = sorted_df[sorted_df["emotion"]=="sadness"][:39712]
surprise = sorted_df[sorted_df["emotion"]=="surprise"][:39712]
trust = sorted_df[sorted_df["emotion"]=="trust"][:39712]

In [82]:
pdList = [anger,anticipation,disgust,fear,joy,sadness,surprise,trust]
final_sorted_df = pd.concat(pdList)

In [85]:
final_sorted_df['Category'] = final_sorted_df.emotion.apply(lambda x: categorize_emotions(x))
final_sorted_df.reset_index(inplace=True)
final_sorted_df.drop(["index"],axis=1,inplace=True)

In [86]:
final_sorted_df

,_score,tweet_id,text,identification,emotion,Category
0,1024,0x285746,knowing that a petty little man will put thou...,train,anger,3
1,1024,0x333c83,seeing as i cant do anything might as well go ...,train,anger,3
2,1024,0x3427d2,millions of blue duckbilled balderdash,train,anger,3
3,1024,0x2d3a7c,even tho im and i wont go alone and i have th...,train,anger,3
4,1024,0x29392d,sweating bout booking night wild teepee airbn...,train,anger,3
...,...,...,...,...,...,...
317691,826,0x2542df,wow how do kids look up to ricegum and alissav...,train,trust,2
317692,826,0x2d079a,joeymcintyre for sharing your lives with us ...,train,trust,2
317693,826,0x35c137,henry arrived just in time for happy pride ya...,train,trust,2
317694,826,0x2c56ef,in the midst of despair anxiety war destructio...,train,trust,2
317695,826,0x2535a3,weve more interesting content on the way worki...,train,trust,2

In [87]:
unshuffle_inputs_outputs = final_sorted_df.iloc[:,:].to_numpy()

In [88]:
indices_shuffled = np.arange(unshuffle_inputs_outputs.shape[0])
np.random.shuffle(indices_shuffled)

shuffled_inputs_outputs = unshuffle_inputs_outputs[indices_shuffled]

In [89]:
len(unshuffle_inputs_outputs)

317696

In [90]:
low_emotion_score_df = pd.DataFrame(shuffled_inputs_outputs)
low_emotion_score_df.columns = ['_score', 'tweet_id', 'text', 'identification', 'emotion','Category']
low_emotion_score_df

,_score,tweet_id,text,identification,emotion,Category
0,936,0x357a8c,anyone having trouble watching after trek on ...,train,sadness,8
1,871,0x201a57,really msnbc fallbackfriday ihateeverything,train,disgust,6
2,983,0x29b51f,available for pickup bedspreads and duvet for...,train,joy,7
3,993,0x282f84,lilleevee i know ðŸ˜‡,train,trust,2
4,427,0x2ca0a1,and just when you though it couldnt get any we...,train,surprise,5
...,...,...,...,...,...,...
317691,914,0x311b4d,suffolkvicar suenglandwales enjoy,train,fear,1
317692,958,0x25a1aa,i love you god bless,train,trust,2
317693,751,0x33236d,senjohnmccain disappointed that you would put ...,train,disgust,6
317694,321,0x360316,washingtonpost distractiontrumprussia,train,surprise,5
317695,1016,0x387726,monday heres to a safe and prosperous school ...,train,joy,7

In [91]:
low_emotion_score_df.text = low_emotion_score_df.text.apply(clean)
low_emotion_score_df.iloc[0].text

'anyone having trouble watching after trek  on the west coast isnt it supposed to be after trek aftertrek '

In [92]:
low_emotion_score_df[low_emotion_score_df.text == ""]

Empty DataFrame
Columns: [_score, tweet_id, text, identification, emotion, Category]
Index: []

In [93]:
i = low_emotion_score_df[low_emotion_score_df.text == ""].index
low_emotion_score_df.drop(i, axis = 0, inplace = True)

In [94]:
low_emotion_score_df = low_emotion_score_df.reset_index()
low_emotion_score_df.drop(['index'],axis = 1, inplace = True)

In [95]:
low_emotion_score_df

,_score,tweet_id,text,identification,emotion,Category
0,936,0x357a8c,anyone having trouble watching after trek on ...,train,sadness,8
1,871,0x201a57,really msnbc fallbackfriday ihateeverything,train,disgust,6
2,983,0x29b51f,available for pickup bedspreads and duvet for...,train,joy,7
3,993,0x282f84,lilleevee i know ðŸ˜‡,train,trust,2
4,427,0x2ca0a1,and just when you though it couldnt get any we...,train,surprise,5
...,...,...,...,...,...,...
317691,914,0x311b4d,suffolkvicar suenglandwales enjoy,train,fear,1
317692,958,0x25a1aa,i love you god bless,train,trust,2
317693,751,0x33236d,senjohnmccain disappointed that you would put ...,train,disgust,6
317694,321,0x360316,washingtonpost distractiontrumprussia,train,surprise,5
317695,1016,0x387726,monday heres to a safe and prosperous school ...,train,joy,7

In [96]:
low_emotion_score_df.to_csv("sorted_descending_preprocessed_data.csv",index=False) #this one has the lowest scores for each emotion